DOCTYPE= html
html= lang="en"

head
    meta= charset="UTF-8"
    meta= http-equiv="X-UA-Compatible" content="IE=edge"
    meta= name="viewport" content="width=device-width, initial-scale=1.0"
    titleDocument
    style
        table,
        th,
        td {
            border: 1px solid;
        }

        .title {
            text-align: center;
        }

        .product-list {
            width: 100%;
        }
    

body
    h1= PUG 
    div
        h1= class="title"Lista de productos

        table= class="product-list"
            tr=
                th=Title
                th=Price
                th=Thumbnail
            
            % productos.forEach((product)= { %
                tr=
                    td=
                        %= product.title %
                    
                    td=
                        %= product.price %
                    
                    td=
                        img= width="72px" height="72px" src=%=product.thumbnail % 

                    
                % } ) %
        

        a= href="/"
         button  Volver al formulario de carga 

    